# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# MongoDB
*.log

# OS
.DS_Store
Thumbs.db
